-- Criar função RPC para incrementar times_used
CREATE OR REPLACE FUNCTION increment_invite_usage(code_param text)
RETURNS void
LANGUAGE sql
SECURITY DEFINER
AS \$\$
  UPDATE public.invites
  SET times_used = times_used + 1
  WHERE code = code_param;
\$\$;
